/* CSS styles for header */
header {
  background-color: #222;
  color: white;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 40px;
}

/* CSS styles for navigation */
nav {
  background-color: #333;
  overflow: hidden;
}

nav select {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 16px;
  padding: 8px;
  border: none;
  background-color: #f2f2f2;
}

nav button {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 16px;
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

nav button:hover {
  background-color: #3e8e41;
}

/* CSS styles for main */
main {
  padding: 20px;
}

main h3 {
  font-size: 24px;
}

main h2 {
  font-size: 36px;
  margin-top: 20px;
}
